<main class="main-content bgc-white">
					<div id="mainContent">
					
						<div class="row gap-20 masonry pos-r">
							<div class="masonry-sizer col-md-8"></div>
							<div class="masonry-item col-md-8">
								<div class="bg-green menu-btn row pT-10">
											
											<h5 align="left" style="width:70%" class="mL-20 m-10 text-white " ><a href="mywallet.html"><i class="ti-arrow-left text-white"></i></a>&emsp;Donate GIV</h5>
											<div style="width:10%" class="pT-5 fl-r p-5">
												<span class="help-circle"><i class=" help ti-help"></i></span>
											</div>
								</div>
								
								<div class=" form-group">
									<a href="donate_giv2.html">
										 <div class="box-shdw filter-box m-10 p-10">
											 <div class=" peers  bdB bgc-gray cur-p">
												  <div class="pT-15 peer">  
                                    <img src="~/Content/assets/static/images/carei.png" class="w-5r h-5r ">
		
												   </div>
												   <div class="don-width peer">
														<h5 class=" head-text pL-10 pT-10 fw-600">CARE</h5>
													<h6 class=" pL-10 simple-text">CARE works around the globe to save lives,defeat poverty and achieve social justice.http://www.care.org</h6>
												   </div>
													
											</div>
											
										</div>
									</a>
								</div>
								<div class=" form-group">
									<a href="donate_giv2.html">
										 <div class="box-shdw filter-box m-10 p-10">
											 <div class=" peers  ai-t bdB bgc-gray cur-p">
												  <div class="pT-15 peer">
														<img src="~/Content/assets/static/images/echo.png" alt="" class="w-5r h-5r ">
												   </div>
												   
													<div class="don-width peer">
														<h5 class=" head-text pL-10 pT-10 fw-600">ECHO</h5>
													<h6 class=" pL-10 simple-text">Whenever there is a disaster or humanitarian emergency,the EU provides assistance. https://ec.europa.eu/echo/ </h6>
												   </div>
													
											</div>
										</div>
									</a>
								</div>
								<div class=" form-group">
									<a href="donate_giv2.html">
										 <div class="box-shdw filter-box m-10 p-10">
											 <div class=" peers  ai-t bdB bgc-gray cur-p">
												  <div class="pT-15 peer">
														<img src="~/Content/assets/static/images/undp.png" alt="" class="w-5r h-5r ">
												   </div>
												   
													<div class="don-width peer">
														<h5 class=" head-text pL-10 pT-10 fw-600">UNDP</h5>
													<h6 class=" pL-10 simple-text">UNDP aims to reduce poverty and support the empowerment of women.http://www.id.undp.org </h6>
												   </div>
													
											</div>
										</div>
									</a>
								</div>
								<div class=" form-group">
									<a href="donate_giv2.html">
										 <div class="box-shdw filter-box m-10 p-10">
											 <div class=" peers  ai-t bdB bgc-gray cur-p">
												  <div class="pT-15 peer">
														<img src="~/Content/assets/static/images/water.png" alt="" class="w-5r h-5r ">
												   </div>
												   
													<div class="don-width peer">
														<h5 class=" head-text pL-10 pT-10 fw-600">Water.org</h5>
													<h6 class=" pL-10 simple-text">Et harum quidem rerum facilis est et expedita distinctio. Nam  </h6>
												   </div>
													
											</div>
										</div>
									</a>
								</div>
								<div class=" form-group">
									<a href="donate_giv2.html">
										 <div class="box-shdw filter-box m-10 p-10">
											 <div class=" peers  ai-t bdB bgc-gray cur-p">
												  <div class="pT-15 peer">
														<img src="~/Content/assets/static/images/oxfam.png" alt="" class="w-5r h-5r ">
												   </div>
												   
													<div class="don-width peer">
														<h5 class=" head-text pL-10 pT-10 fw-600">CARE</h5>
													<h6 class=" pL-10 simple-text">Et harum quidem rerum facilis est et expedita distinctio. Nam </h6>
												   </div>
													
											</div>
										</div>
									</a>
								</div>
									
						
						</div>
						<!------------------------------------------------------------------------>
					</div>
				 </div>	
				</main>